  a:link,
  a:hover,
  a:visited,
  a:active {
      color: #fff;
      text-decoration: none;
  }
  
  .card-holder {
      position: fixed;
      width: 0px;
      right: 0px;
      overflow: visible;
      z-index: 9999;
  }
  
  .card-wrapper {
      display: block;
      float: left;
      clear: both;
  }
  /* 主标题 */
  
  .card {
      position: relative;
      right: 32px;
      padding: 16px 64px 16px 32px;
      margin: 8px;
      box-shadow: 8px 0 8px -8px rgba(0, 0, 0, 0.5);
      background: #fff;
      transition: all 0.3s ease-in-out 0.1s;
  }
  /* 副标题 */
  
  .seccard {
      position: relative;
      right: 16px;
      box-shadow: 8px 0 8px -8px rgba(0, 0, 0, 0.5);
      padding: 16px 32px 16px 32px;
      transition-delay: 1s;
      transition: max-height, all ease-in-out 1s;
      transition-duration: 0.3s;
      overflow: hidden;
      max-height: 0;
  }
  /* 主标题动效 */
  
  .card:hover {
      position: relative;
      right: 100%;
      margin-right: -32px;
      box-shadow: 0 -8px 8px -8px rgba(0, 0, 0, 0.5), 0 8px 8px -8px rgba(0, 0, 0, 0.5);
  }
  /* 主标题连携副标题动效 */
  
  .card:hover~.seccard {
      position: relative;
      right: 90%;
      margin-right: -32px;
      box-shadow: 0 -8px 8px -8px rgba(0, 0, 0, 0.5), 0 8px 8px -8px rgba(0, 0, 0, 0.5);
      max-height: var(--max-height);
  }
  /* 主标题文字样式 */
  
  .card-content {
      display: inline-block;
      color: #fff;
      font-family: 'Droid Sans', sans-serif;
      font-size: 16px;
      font-weight: bold;
      white-space: nowrap;
  }
  /* 副标题文字样式 */
  
  .seccard-content {
      display: inline-block;
      color: #fff;
      font-family: 'Droid Sans', sans-serif;
      font-size: 12px;
      white-space: nowrap;
  }
  /* 各标题底色 */
  
  .bg-01 {
      background: #4169E1;
  }
  
  .bg-02 {
      background: #008B45;
  }
  
  .bg-03 {
      background: #DAA520;
  }
  
  .bg-04 {
      background: #FF6A6A;
  }
  
  .bg-05 {
      background: #FF69B4;
  }
  
  .sec-01 {
      background: #4169E1;
  }
  
  .sec-02 {
      background: #008B45;
  }
  
  .sec-03 {
      background: #DAA520;
  }
  
  .sec-04 {
      background: #FF6A6A;
  }
  
  .sec-05 {
      background: #FF69B4;
  }
  /* 导航栏 */